dipdup==6.5.7
aiohttp
aiolimiter
aiosignal
aiosqlite
anyio
appdirs
APScheduler
argcomplete
async-timeout
asyncclick
asyncpg
attrs
black
certifi
chardet
charset-normalizer
click
datamodel-code-generator
dnspython
email-validator
fcache
frozenlist
genson
idna
inflect
iso8601
isodate
isort
Jinja2
jsonschema
MarkupSafe
msgpack
multidict
mypy-extensions
openapi-schema-validator
openapi-spec-validator
orjson
pathspec
platformdirs
prance
prometheus-client
pydantic
pyhumps
pypika-tortoise
pyrsistent
pysignalr
PySnooper
python-dotenv
pytz
pytz-deprecation-shim
PyYAML
requests
ruamel.yaml
ruamel.yaml.clib
semver
sentry-sdk
six
sniffio
sqlparse
tabulate
toml
tomli
tortoise-orm
typed-ast
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
websockets
yarl
